/* import font from google font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

:root {
    --theme-color: #1e1e1e;
    --white-color: #FFFFFF;
    --blue-light: #4FC3F7;
    --gray-light: #E1E1E1;
}

body {
    background-color: var(--theme-color);
    font-family: "Montserrat", sans-serif !important;
    scroll-behavior: smooth;
}

.navbar-expand-lg .navbar-collapse {
    align-items: center !important;
    justify-items: center !important;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--blue-light) !important;
    background-color: transparent;
    border: var(--bs-border-width) solid var(--blue-light) !important;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url('../images/menu-bar.png') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* Custom Bootstrap changes */
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: var(--theme-color) !important;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    /* These are used to customize padding */
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--white-color);
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding: 10px !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--blue-light) !important;
    font-family: "Montserrat", sans-serif !important;
    font-size: 18px;
    font-weight: 500;
}

.navbar-brand {
    color: var(--white-color) !important;
    font-family: "Oleo Script", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.nav-link:hover {
    color: var(--blue-light) !important;
}

.btn-outline-primary {
    border-color: var(--blue-light) !important;
    color: var(--white-color) !important;
    border-radius: 100px !important;
}

.btn-outline-primary:hover {
    background-color: var(--blue-light) !important;
}

.intro-section {
    background-image: url('../images/intro-section.svg');
    background-size: cover;
    background-position: center;
    align-items: center;
    height: 600px;
    width: auto;
}


.user-name {
    color: var(--white-color);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 60px;
}

.user-designation {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(to left, var(--white-color), var(--blue-light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}


.user-intro {
    color: var(--white-color);
    font-weight: 300;
}

.goto-about {
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid var(--blue-light);
    cursor: pointer;
    animation: bounce 1s infinite;
    color: var(--white-color);
}

.goto-about:hover {
    background-color: var(--blue-light);
    color: var(--white-color);
    /* animation: alternae; */
}

.about-heading {
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 900;
    background: linear-gradient(to left, var(--white-color), var(--blue-light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.about-para {
    color: var(--gray-light);
    text-align: justify;
}

.border {
    border: 1px solid var(--blue-light);
    margin-bottom: 20px;
    width: 50px;
}


.projects-background {
    background: rgba(255, 255, 255, 0.08);
    width: 100%;
    height: 500px;
    border: 2px solid var(--blue-light);
    border-radius: 20px;
    background-image: url('../images/Background\ Gradient.svg');
    background-size: contain;
    background-position: center;
    align-items: center;
    height: 500px;
    width: auto;
}

.card {
    border: unset !important;
    background-color: #1e1e1e80;
    height: 400px;
    width: auto;
}

.card-header {
    border-bottom: unset !important;
}

.card-title {
    color: var(--gray-light) !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold;
    font-size: larger;
}

.close {
    background-color: transparent !important;
    border: 0px !important;
}

.required {
    color: red;
}

.modal {
    --bs-modal-bg: var(--theme-color) !important;
    color: var(--blue-light) !important;

}

.modal-header {
    border: unset !important;
}

.modal-footer {
    border: unset !important;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white-color) !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent !important;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--blue-light);
    border-radius: unset !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Responsive Fixes */
@media (min-width: 992px) {
    .navbar-nav {
        flex-direction: row !important;
        /* Use row direction for larger screens */
    }
}

@media (max-width: 991px) {
    .btn-outline-primary {
        display: none;
        /* Use row direction for larger screens */
    }
}

/* Keyframes for up and down animation */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
        /* Original position */
    }

    50% {
        transform: translateY(-10px);
        /* Move up */
    }
}